# Server Configuration
PORT=8000
HOST=0.0.0.0

# Embedding and LLM Provider
GROQ_API_KEY=****
# Vector Database Configuration (Pinecone)
PINECONE_API_KEY=******
PINECONE_ENVIRONMENT=...
PINECONE_INDEX_NAME=rag-index

# Relational Database Configuration
DATABASE_URL=sqlite:///./rag_history.db
